.spinner {
    &__fishes {
        width: 100%;
        height: 100%;
        background-image: url('../../assets/Spinner.svg');
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        from { transform: rotate(0); }
        to { transform: rotate(-360deg); }
    }
}