@import "../../styles/styles.scss";

.fishPopup {
    &__header {
        font-family: $neutralface-bold;
        font-size: $font-20;
        font-weight: bold;
        color: $gray-1;
        margin-bottom: 32px;
        text-transform: uppercase;
    }

    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 1fr;
        box-sizing: border-box;
        margin-bottom: 25px;

        &-name {
            text-transform: uppercase;
            font-family: $neutralface-regular;
            font-size: $font-20;
            color: $gray-1;
            width: 35%;
        }

        &-content {
            font-family: $inter;
            font-size: $font-14;
            color: $gray-1;
        }
    }

    &__code {
        font-family: $inter;
        font-size: $font-14;
        color: $gray-1;
        width: 100%;
        padding: 25px 30px;
        background-color: $gray-6;
        border-radius: 15px;
        overflow-x: auto;
    }
}