@import "../../styles/styles.scss";

.filters {
    position: fixed;
    top: 220px;
    width: 260px;
    margin-right: 40px;
    box-sizing: border-box;
    padding: 30px;
    background-color: $white-dark;
    border-radius: 30px;
    font-size: $font-18;
    font-family: $inter;

    &__header {
        font-family: $neutralface-bold;
        font-size: $font-20;
        color: $gray-1;
        font-weight: 800;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
    }

    &__tag {
        position: relative;
        padding: 5px 17px;
        margin-right: 11px;
        margin-top: 11px;
        background-color: white;
        border-radius: 6px;
        cursor: pointer;
        transition: opacity .25s ease, background-color .25s ease;

        &:hover {
            background-color: $gray-2;
        }

        &.disabled {
            pointer-events: none;
            opacity: .6;
        }
    }

    &__number {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        font-size: 12px;
        width: 15px;
        height: 15px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: $white-dark;
        border-color: $gray-1;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        input {
            appearance: none;
            margin-right: 5px;
        }
        input::before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid $gray-1; 
        }
        input:checked:before {
            background-color: $dark-blue;
        }
    }
}