@import "./styles/styles.scss";

main {
  margin: 0 auto;
  padding: 220px 40px 0 40px;
}
main > * {
  transition: filter .3s ease;
}
.popup-opened {
  overflow-y: hidden;
  padding-right: 17px;
}
.popup-opened main > * {
  filter: blur(10px) brightness(.9);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: grid;
  place-items: center;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: $white-dark;
    display: grid;
    place-items: center;
    transform: translate(50%, -50%);
    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 760px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 73px;
  }
}

.popup-transition-enter {
  opacity: 0;
  transform: translateY(50px);
}

.popup-transition-enter.popup-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms ease;
}

.popup-transition-exit {
  opacity: 1;
  transform: translateY(0);
  transition: 300ms ease;
}

.popup-transition-exit.popup-transition-exit-active {
  opacity: 0;
  transform: translateY(50px);
}