@import "../../styles/styles.scss";

.login {
    &__header {
        font-family: $neutralface-bold;
        font-size: $font-20;
        font-weight: bold;
        color: $gray-1;
        margin-bottom: 32px;
    }

    input {
        width: 100%;
        height: 2em;
        margin-bottom: 1em;
        border-radius: 15px;
        border: 1px solid $gray-1;
        font-family: $inter;
        font-size: $font-20;
        padding-left: 1em;
        box-sizing: border-box;
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    button {
        width: 40%;
        height: 50px;
        font-family: $inter;
        font-size: $font-20;
        background-color: $dark-blue;
        border-radius: 15px;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
    }

    button:only-child {
        margin: 0 auto;
    }

    .googleSignup {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        border: 1px solid $gray-1;
        display: grid;
        place-items: center;
        cursor: pointer;

        img {
            width: 80%;
            height: 80%;
        }
    }
}